.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    background-color: #ecf0f1;
    text-align: center;
}
h2 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 1.5rem;
}
ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
li {
    background-color: #fff;
    padding: 1.5rem;
    width: 250px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}
li:hove {
transform: translateY(-5px);
}
.link {
    color: #007bff;
}